body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  place-content: center;
  align-items: center;
  background: #292626;
  color: #fff;
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
p {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
li {
  display: inline;
}

img:hover {
  transform: scale(1.1);
}
